<div class="container">

  <div class="row">
       <div class="col-xs-4">
          <%= link_to edit_user(@user) do %>
            <%= image_tag (user.avatar),class: "img-responsive center-block" %>
          <% end %>
       </div>


  <div class="row">
       <div class="col-xs-8">

       </div>
  </div>

</div>
