/*nav*/
li.name {
    padding: 15px;
}

/*Main view: user =>tweet.html.erb */
.container {
  margin-top: 10px;
}
/*tweet item項目裡面包含了 user picture & tweeet details*/

/*tweet item class套用到所有頁面*/
.form_table{
  border: none;
  margin-top: 25px;
}

.follower_item,.following_item{
  border: 1px solid lightgray;
  padding:10px;
  margin-bottom: 15px;
  padding-bottom: 25px;
  padding-top: 15px;
}

.user_details {
    margin-top: 25px;
}


textarea.text-area{
  font-size: 1.5em;
  border-radius: 20px;
  padding: 15px;
}

/*tweet_index*/
.tweet_user_picture {
    width: 100%;
}

.user_picture{
 width:100%
}

/*shared user picture*/
.each_user_picture {
    width: 70%;
    margin-bottom: 10px;
}

/* form_for 表單的tweet 輸入框*/
#tweet_description{
  height:80px;
}

.submit_button{
  margin-bottom: 15px;
  float: right;
}

.tweet_item_picture{
  height:150px;
}

.tweet_item_picture img{
  width: 100%;
}

.reply_item,.tweet_item{
  padding:20px 0px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
}

.liked_tweet_item{
  padding-top:15px;
  padding-bottom:35px;
  border: 1px solid lightgray;
  margin-bottom: 15px;
}
.count{
  color:black;
  font-size: 2em;
}

.user-page{
  margin-top: 20px;
}
/*user intro view*/

.user_details .name{
 font-size:2em;
 color:#337ab7;
} /*選擇div class:user_details 中的p class:name*/

nav.navbar.navbar-default{
  margin-bottom: 0px;
}

/*devise edit view*/
.panel {
  margin-top: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}

.heading {
    margin: 0px;
    border-bottom: 1px solid transparent;
}

.button{
  margin-top: 5px;
}


/* user edit view*/
.avatar-button{
  margin-top: 40px;
}
