/*nav*/
li.name {
    padding: 15px;
}

/*Main view: user =>tweet.html.erb */
.container {
  margin-top: 10px;
}
/*tweet item項目裡面包含了 user picture & tweeet details*/

/*tweet item class套用到所有頁面*/
.form_table{
  border: none;
  margin-top: 25px;
}

.follower_item, .following_item{
  border: 1px solid lightgray;
  padding:10px;
  margin-bottom: 15px;
}

 /*user_picture*/
.user_picture{
  height:120px;
}

.item_picture{
  height:100px;
}

.item_picture img, .user_picture img{
  height:65px;
}

textarea.text-area{
  font-size: 1.5em;
  border-radius: 20px;
  padding: 15px;
}

/* form_for 表單的tweet 輸入框*/
#tweet_description{
  height:80px;
}

.submit_button{
  margin-bottom: 15px;
  float: right;
}

.tweet_item_picture{
  height:150px;
}

.tweet_item_picture img{
  height:100%;
}

.reply_item,.tweet_item{
  padding:10px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
}

.count{
  color:black;
  font-size: 2em;
}

/*user intro view*/

.user_details .name{
 font-size:2em;
 color:#337ab7;
} /*選擇div class:user_details 中的p class:name*/

nav.navbar.navbar-default{
  margin-bottom: 0px;
}

/*devise edit view*/
.panel {
  margin-top: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}

.heading {
    margin: 0px;
    border-bottom: 1px solid transparent;
}
/*reply*/
/*.shared_user_picture{
  height:120px;
} */

/*
.item_picture{
  height:100px;
}

.item_picture img, .user_picture img{
  height:65px;
}*/
